﻿@model IEnumerable<DemoWeb.Model.Dto.ProductDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkToPicture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkToPicture)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { productId = item.Id })

            @using (Html.BeginForm("DeleteProduct", "ProductManagement",  new {productId = item.Id}))
            {
                @Html.HiddenFor(model => item.Id)

                <button name="action" value="delete">Delete</button>
            }
        </td>
    </tr>
}

</table>
