﻿@model IEnumerable<DemoWeb.Model.Dto.ProductDto>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/ShopStyle.css")

<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
                <div class="col-md-4">
                    <div class="block">
                        <div class="top">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-5"><span class="converse text-center">@Html.DisplayFor(modelItem => item.Name)</span></div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>

                        <div class="middle">
                            <br />
                            @if (item.LinkToPicture == null)
                            {
                                <img src="https://openclipart.org/download/202336/Sad-Smiley.svg" alt="pic" />
                            }
                            else
                            {
                                <img src="@item.LinkToPicture" class="picture" />
                            }
                        </div>

                        <div class="bottom">
                            @Html.ActionLink("Details", "ProductDetails", new { productId = item.Id })
                            <div class="price">@Html.DisplayFor(modelItem => item.Price)</div>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
