﻿@model DemoWeb.Model.Dto.ProductDto

@{
    ViewBag.Title = "Product details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>

<div class="row">
    <hr />
    <div class="col-md-3">
        @if (Model.LinkToPicture == null)
        {
            <img src="https://openclipart.org/download/202336/Sad-Smiley.svg" class="img-responsive" />
        }
        else
        {
            <img src="@Model.LinkToPicture" class="img-responsive" />
        }
    </div>
    <div class="col-md-7">
        <blockquote>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd class="text-danger">
                    <h3>@Html.DisplayFor(model => model.Price)</h3>
                </dd>

            </dl>
        </blockquote>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
